<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block body %}
<h1>Renew: {{ book_instance.book.title }}</h1>
  <p>Borrower: {{ book_instance.borrower }}</p>
  <p{% if book_instance.is_overdue %} class="text-danger"{% endif %}>Due date: {{ book_instance.due_back }}</p>
    
  <form action="" method="post">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Submit">
  </form>

 <!--==========================
    Footer
  ============================-->
  <footer id="footer" class="section-bg">
    <div class="footer-top">
      <div class="container">

        <div class="row">

          <div class="col-lg-6">

            <div class="row">

                <div class="col-sm-6">

                  <div class="footer-info">
                    <h3>The Nutrition Platform</h3>
                    <p>Analytical testing Services and support in food safety, food nutrition and related
                      agricultural applications.</p>
                  </div>

                 

                </div>

                <div class="col-sm-6">
                 

                  <div class="footer-links">
                    <h4>Contact Us</h4>
                    <p>
                      P.O Box 30709<br>
                      Nairobi 00100<br>
                      Kenya <br>
                      <strong>Phone:</strong> +254 20 422 3384<br>
                      <strong>Email:</strong> mycnutplatform@cgiar.org<br>
                    </p>
                  </div>

                  <div class="social-links">
                    <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                  </div>

                </div>

            </div>

          </div>

        

          

        </div>

      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>BecA-ILRI</strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Rapid
        -->
        Designed using <a href="https://www.djangoproject.com/" target="_blank">Django</a>
      </div>
    </div>
  </footer><!-- #footer -->

{% endblock %}
