<!DOCTYPE html>
{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}Place an Order{% endblock %}
{% load static %}

{% block body %}
<section class="section-bg">
    <div class="container d-flex h-100">
        <div class="row justify-content-center align-self-center">
          <div>
  <br><br><br><br><br><br>
            <div>
                <h4>Make an Order</h4>
                <p>Asuming you've already discussed with the guys at the Nutrition Platform.</p>
                <p>Please make an order of <strong>One Service per Order</strong></p>
                <form action="" method="POST">
                {% csrf_token %}
                {% bootstrap_form form %}
                <div class="text-center">
                  {% buttons %}
                  <button type="submit" class="btn btn-primary">Send Message</button>
                  {% endbuttons %}</div>
                </form>
            </div>
          </div>
        </div>
    </div>
</section>

{% endblock %}
